/*
  Site container
*/

.container {
  margin-top: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  width: $viewport-fill * 100vw;
  max-width: $container-max-width;
}

.top {
  display: none;
}

.content-container {
  margin-bottom: 4rem;
}


/*
  Header
*/

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
  font-family: $sans-serif-font-family;
  font-weight: bolder;
}

.header :is(h1, h2) {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.header-subtitle {
  color: $light-gray-color;
}

/*
  Menu
*/

.menu {
  padding-top: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5em;
}

.menu-content {
  float: left;
  flex-grow: 1;
}

.menu-content a {
  color: $light-gray-color;
  font-size: 1rem;
  padding-right: 10px;
  text-decoration: dotted;
}

.social-icons {
  float: right;
}

.social-icons a {
  color: $light-gray-color;
  font-size: 1rem;
}


/*
  Footer
*/

.footer {
  color: $light-gray-color;
  text-align: center;
  margin: 2rem;
}

.footer a {
  color: $light-gray-color;
  padding: 10px;
  text-decoration: none;
}

.footer a:hover {
  color: $dark-gray-color;
}

.footer-description {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.7rem;
  color: $light-gray-color;
  font-family: $sans-serif-font-family;
  font-size: 0.8rem;
}

.bottom-text {
  font-family: $sans-serif-font-family;
  font-size: 0.85rem;
  & a {
    margin: 0;
    padding: 0;
  }
}
