.scroll-to-top {
    padding: 1rem;
    position: fixed;
    inset: auto 1rem 1rem auto;
    font-size: 1.2rem;
    color: $extra-light-gray-color;
    background-color: $dark-gray-color;

    opacity: 0.2;

    display: inline-block;
    text-decoration: none;
    text-align: center;

    & * {
        vertical-align: top;
    }

    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}

.scroll-to-top:hover {
    color: $extra-light-gray-color;
    font-weight: bold;
    opacity: 0.9;
    transition: all 0.25s ease;
}

a#top {
    visibility: hidden;
}
