$sans-serif-font-family: "Quattrocento Sans",
sans-serif;
$serif-font-family: "PT Serif",
Georgia,
"Times New Roman",
serif;
$code-font-family: "Source Code Pro",
monospace;

$container-max-width: 1000px;
$elements-responsive-width: 30em;
$viewport-fill: 0.9;

$icon-transition-time: .25s;