---
---

$sans-serif-font-family: "Quattrocento Sans",
sans-serif;
$serif-font-family: "PT Serif",
Georgia,
"Times New Roman",
serif;
$code-font-family: "Source Code Pro",
monospace;

$body-bg-color: #f1f1f1;
$body-color: #464646;
$link-color: black;

$code-background-color: #fafafa;
$pagination-button-color: #afafaf;

$dark-gray-color: #3d3d3d;
$light-gray-color: #818181;
$extra-light-gray-color: #bebebe;

$container-responsive-width: 768px;
$elements-responsive-width: 30em;

$icon-transition-time: .25s;
$envelope-color: #f39c12;
$twitter-color: #00aced;
$instagram-color: #6000dd;
$github-color: #343434;
$discord-color: #4c41dd;
$telegram-color: #00a1e0;
$linkedin-color: #006692;
$facebook-color: #3d5b99;
$pinterest-color: #bd081c;
$medium-color: #00AB6C;
$codepen-color: black;
$rss-color: #ff6600;

@import "include-all";
